
body {
    background-color: rgb(20, 29, 44);
}
 .PHOTO img{
    width: 350px;
    margin-top:30px ;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.box